body{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
	text-align: center;
}

.name{
	margin-top: 25px;
  font-size: 30px;
}

.flat{
  background-color: brown;
  display: inline-block;
	padding: 20px 10px;
	border-radius: 20px;
}

.flat input{
	width: 16rem;
  padding: 5px;
  margin-bottom: 20px;
	font-size: 30px;
	border-radius: 12px;
	background-color: rgb(204, 174, 98);
	border: 1px solid  rgb(204, 174, 98);
	outline: none;
	text-align:right;
}

td{
	padding: 10px
}

 td button{
	width: 45px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	background-color:goldenrod;
	border:1px solid goldenrod;
	border-radius: 10px;
	outline:none;
}

td button:hover{
   background-color:transparent;
   border:1px solid goldenrod;
   color: goldenrod;
}
